h1 {
text-align: center; 
    font-size:50px;
    background-color:#33cc33;
}
body {
    background-color: #cce6ff;
}
img {
    margin-left:320px;
    border:8px solid black;
    
    
}
p {
    font-size:20px;
    text-align: center;
    font-weight: 1000;
}